{% extends 'base.html' %}

{% block title %}

Architects


{% endblock %}



{% block content %}


<h1 class="text-center" >Architects Page</h1>
<hr>
<div class="container text-center">
    

    {% for a in arch  %}

    <div class="card text-center" style="width: 18rem; display: inline-block;">
        <img src="{{a.arc_image.url}}" class="card-img-top"  alt="...">
        <div class="card-body">
          <h5 class="card-title">Ar.{{a.arc_name}}</h5>
          <p class="card-text">{{a.arc_spec}}</p>
          <h6>{{a.dep_name}} Department</h6>
        </div>
      </div>


    {% endfor %}
</div>
{% endblock %}